<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link th:href="@{/css/reset.css}" rel="stylesheet" />
    <link th:href="@{/css/common.css}" rel="stylesheet" />

    <title>Shortable</title>
</head>
<body>
<header>
    <h1>Shortable</h1>
</header>
<div class="container">
    <div class="card mb24">
        준비중
    </div>
    <footer>
        <div class="card mb24">
            <p>© 2022 Shortable - Tool to shorten a long link.</p>
            <ul>
                <li><a>shortable.link</a></li>
                <li><a>Privacy</a></li>
                <li><a>Contact</a></li>
            </ul>
        </div>
    </footer>
</div>
<script src="./js/index.js"></script>
</body>
</html>