<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link th:href="@{/css/reset.css}" rel="stylesheet" />
    <link th:href="@{/css/common.css}" rel="stylesheet" />

    <title>Shortable</title>
</head>
<body>
<header>
    <h1>Shortable</h1>
</header>
<div class="container">
    <div class="card mb24">
        <h2>Paste the URL to be shortened</h2>
        <form class="flex shortern-form" th:if="${shortenUrl == null && originalUrl == null}" method="post" th:action="@{/url}">
            <input type="url" placeholder="Enter the link here" name="originalUrl" id="originalUrl">
            <button>Shorten URL</button>
        </form>
        <div class="flex res-form" th:if="${shortenUrl != null}">
            <input id="res-url" type="url" readonly value="" th:value="${shortenUrl}">
            <button id="copy">Copy URL</button>

        </div>
        <p th:if="${originalUrl != null}">Original URL :
            <a target="_blank" th:href="${originalUrl}" th:text="${originalUrl}"></a>
        </p>
        <button th:if="${shortenUrl != null && originalUrl != null}" id="" onclick="window.location.href='/'">Back to main</button>
    </div>
    <div class="card mb24">
        Want apply your service?
        <p>we provide API for developers.</p>
        <a class="link">Go API Documents</a>
    </div>
    <footer>
        <div class="card mb24">
            <p>© 2022 Shortable - Tool to shorten a long link.</p>
            <ul>
                <li><a>shortable.link</a></li>
                <li><a>Privacy</a></li>
                <li><a>Contact</a></li>
            </ul>
        </div>
    </footer>
</div>
<script src="./js/index.js"></script>
</body>
</html>